.Highlight_Description {
    line-height: 30px;
    font-size: 18px;
    font-weight: 300;
    border-top: 1px solid rgb(255, 168, 0);
    border-bottom: 1px solid rgb(255, 168, 0);
    padding: 30px 0px;
    color: white;
}

.Center_Wrapper {
    width: 900px;
    margin:0 auto;
}